/* index page */

#logo {
  width: 10%;
  height: auto;
}

.container-fluid {
  padding: 0%;
}
.main-section {
  background-image: url(./stills/healing2.png);
  background-size: cover;
  display: flex;
  min-height: 100vh;
  width: 100vh;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.navbar-brand {
  display: flex;
}

.main-title {
  width: 100%;
  height: auto;
  flex-flow: wrap;
}

.mark-films {
  display: flex;
  color: aliceblue;
  justify-content: center;
  align-items: flex-start;
  /* max-width: 50vw; */
  flex-direction: row;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* films page */

.movies {
  display: flex;
  flex-flow: wrap;
  width: 100vw;
  justify-content: space-between;
}

.image-movie {
  width: 200px;
  height: auto;
}

/* About page */

.about-contents {
  display: flex;
  flex-flow: wrap;
  width: 80vw;
}

.about-item {
}

.image-mark {
  width: 70%;
  height: auto;
  box-shadow: 2px 2px 15px black;
}

.para-about {
  font-size: 22px;
  margin-top: 25px;
}

/* Contact page */
.input_box {
  margin-bottom: 15px;
}
